{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>

    <div id="navbar"></div>

    <h1>Login</h1>

    {% if error %}
        <p style="color:red;">{{ error }}</p>
    {% endif %}

    <form id="user_input" method="post">
        {% csrf_token %}

        <input type="hidden" name="next" value="{{ next }}">

        <label>Email:</label>
        <input type="text" name="username"><br><br>

        <label>Password:</label>
        <input type="password" name="password"><br><br>

        <button type="submit">Login</button>
    </form>

    <br>
    <p>Don't have an account? <a href="{% url 'register' %}">Register here</a>.</p>
    <!-- <script src="{% static 'loginFetch.js' %}"></script> -->


    <footer id="footer"></footer>
    <script src="{% static 'navbar_footer.js' %}"></script>

</body>
</html>